<div class="container">
  <div class="row">
    <div class="col-10 mx-auto">
      <div class="row w-100 d-flex">
        <div class="col-6 flex-fill" style= "background-color: #b0c4de;">
          <h2>アーティストを探す</h2>
        </div>
        <div class="col-6 flex-fill">
          <h2>ギャラリーを探す</h2>
        </div>
      </div>
      <div class="row" style= "background-color: #b0c4de;">
        <div>
          名前から探す（キーワード）
        </div>
        <div class="row">
          キーワードから探す
        </div>
        <div>
          道具から探す(キーワード)
        </div>
        <div>
          ジャンルタグから探す
        </div>
        <div>
          
        </div>
      </div>
    </div>
  </div>
</div>