<div class="container">
  <div class="row py-3">
    <h4>開催終了した展示一覧</h4>
  </div>
  <div class="row">
    <%= render 'index', events: @events %>
  </div>
  <div class="row justify-content-center">
    <%= paginate @events, outer_window: 3 %>
  </div>
</div>