<div class="col-3 flex-fill mt-4">

</div>
<div class="col-5 flex-fill text-center">
  <%= link_to root_path do %>
    <%= image_tag 'logo.png',size: "255x114" %>
  <% end %>
</div>
<div class="col-1 offset-2 flex-fill text-right mt-4">
  <%= link_to gallary_searches_path do %>
  <i class="fa-solid fa-magnifying-glass fa-xl" style="color: #001e43;"></i>
  <% end %>
</div>
<div class="col-1">
  <div id="sp-menu">
    <h2>MENU</h2>
    <ul>
      <li><a href="#">MENU1</a></li>
      <li><a href="#">MENU2</a></li>
      <li><a href="#">MENU3</a></li>
      <li><a href="#">MENU4</a></li>
      <li><a href="#">MENU5</a></li>
    </ul>
  </div>

  <div id="hm-icon">
    <a class="menu-trigger" href="#">
      <span></span>
      <span></span>
      <span></span>
    </a>
  </div>
</div>

