<div class="container">
  <div class="row">
    <div class="col-12 text-center mt-3">
      <h4>ジャンル名変更</h4>
    </div>
    <div class="col-8 mx-auto">
      <%= form_with model: @genre, url: admin_genre_path(@genre.id) do |f| %>
        <p class="form-group my-5">
            <%= f.label :name, "ジャンル名" %>
            <%= f.text_field :name, placeholder: 'ジャンル名', class: "mx-md-5 mx-2" %>
            <%= f.submit '変更を保存', class: "btn btn-success" %>
          </p>
      <% end %>
    </div>
  </div>
</div>