<div class="container">
  <div class="row mt-5">
    <h1>管理者メニュー</h1>
  </div>
  <div class="row mx-auto">
    <div class="mt-5 mr-4"><%= link_to "アーティスト一覧" , admin_artists_path , class: "btn btn-info"%></div>
    <div class="mt-5 mr-4"><%= link_to "ギャラリー一覧" , admin_gallaries_path , class: "btn btn-success"%></div>
    <div class="mt-5 mr-4"><%= link_to "ジャンル一覧" , admin_genres_path , class: "btn btn-primary"%></div>
  </div>
</div>