<div class="container">
  <div class="row">
    <div class="col-12 text-center my-4"><h4>投稿編集フォーム</h4></div>
  </div>
  <div class="row">
    <div class="col-6 mx-auto border">
      <%= render 'form', portfolio: @portfolio %>
    </div>
  </div>
</div>