<p id="alert"><%= alert %></p>
<div class="container">
  <div class="row">
    <div class="col-12 text-center my-4"><h4>作品投稿フォーム</h4></div>
  </div>
  <div class="row">
    <div class="col-6 mx-auto border">
      <%= render 'form', portfolio: @portfolio %>
    </div>
  </div>
</div>