/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
// *{
//   border : solid 2px red ;
// }
/*=============
base
==============*/
html, body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
// フォント関連
:root{
    --font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, "游ゴシック体", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

body {
    font-family: var(--font-family-sans-serif);
}

// フッターがせりあがらないように
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
  background-color: #fafafa;
}


footer {
  flex-shrink: 0;
  background-color: #192f60;
}
header {
  background-image: image-url("header.jpg");
}

// topの背景
#top1{
  color: white;
  background-image: image-url("top1.jpg");
}
.toumei{
  background-color: rgba(0,0,0,0.5);
}
#top2{
  background-color: #d4dcd3;
}

// フラッシュメッセージ設定
#flash-notifications{
  text-align: center;

  .notice {
    background-color: #b0c4de;
    padding: 6px 20px;
  }

  .alert {
    padding: 5px 20px;
    background-color: #f19ca7;
  }
}

// 新規登録時のエラーメッセージ表示
#error_explanation{
  color: white;
  background-color: #fa8072;
  padding: 5px 20px;
}

.swiper{
  width: 500px;
  height: auto;
}
// トップに戻る
#back {
  position: fixed;
  bottom: 40px;
  right: 40px;
}
/*========= ナビゲーション ===============*/

#g-nav{
    position:fixed;
    z-index: 999;
  top:0;
    right: -50%;
  width:30%;
    height: 100vh;
  background:#a4c1d7;
  transition: all 0.6s;
}

/*アクティブクラスがついたら位置を0に*/
#g-nav.panelactive{
    right: 0;
}

/*ナビゲーションの縦スクロール*/
#g-nav.panelactive #g-nav-list{
    /*ナビの数が増えた場合縦スクロール*/
    position: fixed;
    z-index: 999;
    width: 30%;
    height: 100vh;/*表示する高さ*/
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

/*ナビゲーション*/
#g-nav ul {
    /*ナビゲーション天地中央揃え*/
    position: absolute;
    z-index: 999;
    top:50%;
    left:30%;
    transform: translate(-50%,-50%);
}

/*リストのレイアウト設定*/

#g-nav li{
  list-style: none;
}

#g-nav li a{
  color: #333;
  text-decoration: none;
  padding:10px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.category{
  font-weight: bold;
}

/*========= ハンバーガーメニューボタン ===============*/
.openbtn1{
  position:fixed;
    z-index: 9999;/*ボタンを最前面に*/
  top:10px;
  right: 10px;
  cursor: pointer;
    width: 50px;
    height:50px;
}

/*×に変化*/
.openbtn1 span{
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
  background-color: #202020;
    width: 45%;
  }

.openbtn1 span:nth-of-type(1) {
  top:15px;
}

.openbtn1 span:nth-of-type(2) {
  top:23px;
}

.openbtn1 span:nth-of-type(3) {
  top:31px;
}

.openbtn1.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}

.openbtn1.active span:nth-of-type(2) {
  opacity: 0;
}

.openbtn1.active span:nth-of-type(3){
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}
/*========== 画像サイズ関連 ==========*/
// gallaries_showの画像サイズ
.gallary_image{
    max-height: 281px;
    max-width: 500px;
  }
  // 作品画像サイズshow
.portfolio_image{
  max-width: 800px;
  max-height: 600px;
}
// 作品画像サイズindex
.portfolio_index_image{
  max-width: 200px;
  max-height: 200px;
}
.portfolio_edit_image{
  max-width: 300px;
  max-height: 300px;
}
.index_image{
  max-width: 200px;
  max-height: 200px;
}
.mini_image{
  max-width: 100px;
  max-height: 100px;
}
.follow_image{
  max-width: 80px;
  max-height: 80px;
}
.comment_image{
  max-width: 40px;
  max-height: 40px;
}
.admin_image{
  max-width: 559px;
  max-height: 400px;
}
.index_box{
  width: 220px;
}

// サーチ画面の微調整
.search_area{
  margin-left: 2px;
  margin-right: 1px;
}

/*========== ボタンデザイン全般 =========*/
.in_btn{
  color: white;
  background-color: #192f60;
  border-radius: 4px;
}
.in_btn:hover{
  background-color: #6c9bd2;
}

// ゲストログインボタン
.guest_btn{
  color: white;
  background-color: #00947a;
  border-radius: 4px;
}
.guest_btn:hover{
  background-color: #a3d6cc;
}


/*========== DMの未読バッジデザイン ==========*/
.unread_mark{
  width: 25px;
  height: 25px;
  color: white;
  text-align: center;
  background-color: #e95464;
  border-radius: 25px;
}
// DMここから未読ですのライン

.unread_line{
  width: 90%;
  height: 30px;
  background-color: #d4d9dc;
  border-radius: 4px;
  margin-bottom: 20px;
}
/*========== タイトル背景 ==========*/
// .title{
//   border-bottom: 4px double #192f60;
// }

/*========== ダイレクトメール（DM）レイアウト ==========*/

  .chat-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 1300px;
    margin: 0 auto;
  }

.chat-topbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #192f60;
  color: #fff;
  height: 50px;
  padding: 0 20px;
}

.dm_messages {
  flex: 1;
  overflow-y: scroll;
  height: 400px;
  padding: 20px;
}

.message {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.message-sender {
  margin-bottom: 5px;
  font-size: 0.8em;
  color: #666;
}

.message-body {
  padding: 10px;
  border-radius: 10px;
  max-width: 70%;
}

.self .message-body {
  align-self: flex-end;
  background-color: #007199;
  color: #fff;
}

.other .message-body {
  align-self: flex-start;
  background-color: #f5f5f5;
  color: #333;
}

.chat-form {
  background-color: #f5f5f5;
  padding: 20px;
}

.chat-form form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.chat-form input[type="text"] {
  flex: 1;
  margin-right: 10px;
  padding: 10px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  background-color: #fff;
}

.chat-form input[type="submit"] {
  flex: 0 0 auto;
  padding: 10px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  background-color: #192f60;
  color: #fff;
  cursor: pointer;
}
#dm-wrapper{
  height: 600px;
}
#dm_room_list{
  overflow-y: scroll;
  height: 750px;
  background-color: #f4f4f4;

}

/*========== タブレット縦置きサイズ（768px）以下 ==========*/
@media screen and (max-width:768px) {
  #g-nav{
      /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
      position:fixed;
      z-index: 999;
      /*ナビのスタート位置と形状*/
    top:0;
      right: -120%;
    width:100%;
      height: 100vh;/*ナビの高さ*/
    background:#a4c1d7;
      /*動き*/
    transition: all 0.6s;
  }

  /*アクティブクラスがついたら位置を0に*/
  #g-nav.panelactive{
      right: 0;
  }

  /*ナビゲーションの縦スクロール*/
  #g-nav.panelactive #g-nav-list{
      /*ナビの数が増えた場合縦スクロール*/
      position: fixed;
      z-index: 999;
      width: 100%;
      height: 100vh;/*表示する高さ*/
      overflow: auto;
      -webkit-overflow-scrolling: touch;
  }

  /*ナビゲーション*/
  #g-nav ul {
      /*ナビゲーション天地中央揃え*/
      position: absolute;
      z-index: 999;
      top:50%;
      left:50%;
      transform: translate(-50%,-50%);
  }

  /*リストのレイアウト設定*/

  #g-nav li{
    list-style: none;
      text-align: center;
  }

  #g-nav li a{
    color: #333;
    text-decoration: none;
    padding:10px;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
  .category{
    font-weight: bold;
  }

  // フォローページタイトルサイズ
  .follow h3{
    font-size: 25px;
  }

  #dm_room_list{
    display: none;
  }

}



/*========== スマートフォンサイズ（576px）以下 ==========*/
@media screen and (max-width:576px) {
  .gallary_image{
    width: 50%;
  }
  // フォローページタイトルサイズ(サーチのタブの文字もこれ)
  .follow h3{
    font-size: 20px;
  }
  // サーチのサブタイトル部分
  .search-title{
    font-size: 18px;
  }
  .admin_image{
    width: 80%;
  }
  .chat-topbar h4{
    font-size: 20px;
  }

}
