<footer>
  <div class="container-fluid border-top">
    <div class="row w-100 justify-content-center py-3">
      <p class="text-center" style = "color: white;">©art-match</p>
    </div>
  </div>
</footer>